common// ::-webkit-scrollbar{width:4px;}
// ::-webkit-scrollbar-track{background-color:#ddd;}
// ::-webkit-scrollbar-thumb{background-color:#fff;}

::-webkit-scrollbar{
    width: 4px;
    height: 10px;
    background-color: #f5f5f5;
}
/*定义滚动条的轨道，内阴影及圆角*/
::-webkit-scrollbar-track{
    // -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
    border-radius: 10px;
    background-color: #f5f5f5;
}
/*定义滑块，内阴影及圆角*/
::-webkit-scrollbar-thumb{
    /*width: 10px;*/
    height: 20px;
    border-radius: 10px;
    // -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
    background-color: #ddd;
}

@keyframes bghover{
  0%{
    color: #E71111;
    
  }
  100%{ 
    background: #E71111;
    color: #fff;
  }
}
@keyframes sqhover{
  0%{
    opacity: 0;
    transform: scale(1.5,1.5);
  }
  100%{
    opacity: 1; 
    transform:scale(1,1);
  }
}
@keyframes suohover{
  0%{
    opacity: 0;
    transform: translateZ(2000px);
  }
  100%{
    opacity: 1;
    transform: translateZ(0px);
  }
}
@keyframes suohoverout{
  0%{
    opacity: 0;
    transform: translateZ(0px);
  }
  100%{
    opacity: 1;
    transform: translateZ(2000px);
  }
}

.y-sevenSection.common .title{
  background: url(../../images/white01.png) no-repeat;
  background-position: 30% 50%;
}
.y-container .subContainer{
   height:679px;
   padding-top: 63px;
//  height: 679px !important;
    padding-top: 60px;
  .title {
    text-align: center;
    margin: 0 auto;
    margin-top: 100px;
    margin-bottom: 3%;
    font-size: 26px;
    width: 192px;
    /* height: 35px; */
    background: url(../../images/red01.png) no-repeat;
    background-position: 30% 50%;
    .name{
      width: 145px;  
      height: 60px;  
      margin: 0 auto;
      // background: #fff;
      margin-top: -4px;
      h3{
        font-size: 26px;
        color: #333333;
        letter-spacing: 0;
        font-weight: bold;
        // margin-bottom: 5px;
      }
      h4{
        font-size: 12px;
        color: #000;
        letter-spacing: 0px;
        span{
          color: #E71111;
        }
      }
    }
  }
}

.y-secondSection {
    width: 100%;
    background: #F4F4F4;
    box-shadow: inset 0 -1px 0 0 rgba(146,146,146,0.20);

    .content {
        width: 1000px;
        height: 100%;
        margin: 0 auto;

        .subcontent {
            width: 248.5px;
            text-align: center;
            overflow: hidden;
            float: left;
            border-left: 1px solid #ddd;
            height: 200px;
            &:nth-child(4) {
                border-right: 1px solid #ddd;
            }
            // box-shadow: inset 1px 0 0 0 rgba(146,146,146,0.20), inset -1px 0 0 0 rgba(146,146,146,0.20);
            .sub {
              margin: 0 auto;
              height: 40px;
              text-align: center;
              display: inline-block;
              display: flex;
              align-items: center;
              display: flex;
              height: 100%;
              justify-content: center;

                .content-lt {
                    border: 1px solid #ddd;
                    width: 32px;
                    height: 32px;
                    float: left;
                }

                .content-rt {
                    float: left;
                    padding-left: 20px;
                    text-align: left;

                    p {
                        font-weight: bold;
                        font-size: 16px;
                        color: #333333;
                        letter-spacing: 1px;
                    }

                    span {
                        font-size: 12px;
                        color: #888888;
                        letter-spacing: 1px;
                    }
                }
            }
        }
    }
}


.y-thirdSection {
  width: 100%;
  margin-bottom: 30px;
  padding-top: 5px;
  .content{
    width: 1000px;
    margin: 0 auto;
    .subContent{
      font-size: 26px;
    color: #333333;
    letter-spacing: 0;
    border: 4px solid #E0E0E0;
    border-radius: 14px;
//  padding: 20px;
    height: 450px;
//  padding-right: 1px;
//  padding-left: 1px;
    width: 830px;
    margin: 0 auto;
    box-shadow: 0 3px 11px 0 rgba(0,0,0,0.15);

      .subTitle span{
        font-size: 24px;
        color: #444444;
        font-weight: bold;
      }
      .sub{
        text-align: left;
        p{
          font-size: 18px;
          color: #333333;
          font-weight: bold;
          margin: 30px 20px;
        }
        ul{
          margin-left: 30px;
           li{
          font-size: 15px;
          color: #888888;
          line-height: 36px;
          
          }
        }

      }
    }
    .contentList{
      // text-align: left;
      margin-top: 20px;
      li{
        border-bottom: 1px dashed rgba(146,146,146,0.40);
        width: 470px;
        float: left;
        margin-right: 10px;
        font-size: 14px;
        color: #2B2B2B;
        letter-spacing: 1.87px;
        line-height: 26px;
        padding: 10px 10px;
        &:hover p:nth-child(1){
          color: #E71111;
          cursor: pointer;
        }
         &:hover a{ 
          color: #E71111;
          cursor: pointer;
        }
        p{
          float: left;
          font-size: 14px;
          color: #2B2B2B;
          letter-spacing: 1.87px;
          line-height: 26px;
          width: 73%;
          overflow: hidden;
          text-overflow: ellipsis;
          white-space: nowrap;
          text-align: left;
        }
        // p:nth-child(2){
        //   float: right;
        //   font-size: 14px;
        //   color: #888888;
        //   letter-spacing: 1.87px;
        //   line-height: 26px;
        // }
      }
    }
  }
}
.y-fourthSection {
    // height: 1000px;
    width: 100%;
    border-bottom: 1px solid #ddd;
    .content{
      width: 1000px;
      overflow: hidden;
      .subcontent {
          float: left;
          // height: 660px;
          width: 332px;
          text-align: center;
          border-left: 1px solid #ddd;
      }
    }
}

.y-fifthSection {
    width: 100%;
    height: 826px;
    // background-image: linear-gradient(-180deg, #F7F7F7 0%, #ECE7E4 100%);
    background: url(../../images/beijing.jpg) no-repeat;
    background-size: 100% 100%;
    padding-top: 5px;
    margin-top: 30px;
    .content {
        overflow: hidden;
        width: 1000px;
        // height: 720px;
        margin: 0 auto;
        // opacity: 0.9;
        // background: #FFFFFF;
        // box-shadow: 0 8px 15px 0 rgba(0,0,0,0.20);
        // padding: 60px 0;
        .content-lt {
            float: left;    
            width: 165px;
            ul{
              overflow: hidden;
              li{
                font-size: 14px;
                height: 35px;
                line-height: 35px;
                color: #333333;
                letter-spacing: 0;
                position: relative;
                span{
                  position: absolute;
                  left: 40%;
                  opacity: 0;
                  &:hover{
                    cursor: pointer;
                  }
                }
                a{
                  display: inline-block;
                  width: 50px;
                  height: 3px;
                 
                  position: absolute;
                  right: -15px;
                  transform: scaleX(0);
                  transform-origin: right;
                  top: -2px;
                  opacity: 0;
                }
              }
            }
        }

        .content-rt {
            float: left;
            width: 740px;
            border-left:1px solid #E71111;
            padding-left: 50px;
            padding-bottom: 10px;
            height: 475px;
            .text{
              float: left;
              width: 380px;
              margin-right: 50px;
              // opacity: 0;
              .textImg{        
                max-width: 380px;
                height:220px;
                opacity: 0;
              }
              h4{
                font-size: 20px;
                color: #333333;
                letter-spacing: 0;
                margin: 20px 0px;
                opacity: 0;
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: nowrap;
                width: 100%;
              }
              p{
                font-size: 12px;
                color: #8A8A8A;
                letter-spacing: 0;
                line-height: 23px;
                text-align: left;
                opacity: 0;
                min-height: 140px;
              }
              a{
                float: right;
                font-size: 12px;
                color: #E71111;
                letter-spacing: 0;
                border: 1px solid #E71111;
                padding: 7px 14px;
                transition: all 0.5s;
                opacity: 0;
                &:hover{
                  background: #E71111;
                  color: #fff;
                }
              }
            }
            .imgList{
              width: 300px;
              float: left;

              .img-list{
                position: relative;
                transform-style: preserve-3d;
				        perspective: 20000000px;
                opacity: 0;
                .subImg{ 
                  margin-bottom: 20px;
                  max-width: 280px;
                  height: 140px;
                  position: relative;
                  z-index:10;

                  img{
                    width: 100%;
                  }
                }
                .square{
                  // background: url(../../images/新闻-小-01.png) no-repeat;
                   position: absolute;
                    width: 250px;
                    height: 116px;
                    top: 13%;
                    border: 1px solid #fff;
                    text-align: center;
                    vertical-align: middle;
                    left: 5%;
                    transform: scale(1.5,1.5);
                    opacity: 0;
                    z-index: 1;
                    // transform: translateZ(2000px);
                    p{

                    }
                }
              }
              
            }
        }
    }
}

.y-sixSection{
  width: 100%;
  height: 826px;
  border-top:1px solid #ddd;
  padding-bottom: 30px;
  // border-bottom:1px solid #ddd;
  .content{
    width: 1000px;
    margin:0 auto;
    .subcontent{
      width: 440px;
      float: left;
      padding: 0px 30px;
      opacity: 0;
      .subTitle{
        text-align: center;
        margin-bottom: 30px;
        span{
          font-size: 18px;
          color: #333333;
          letter-spacing: 0;
          font-weight: bold;
        }
      }
      .subImage{
        // border: 1px solid #ddd;
        // height: 150px;
        position: relative;
        img{
          width: 100%;
          height: 170px;
        }
        .shade{
          position: absolute;
          bottom: 3px;
          text-align: center;
          // left: 0;
          // right: 0;
          height: 35px;
          line-height: 35px;
          opacity: 0.77;
          background: #EAEAEA;
          font-weight: bold;
          width: 100%;
          text-align: left;
          padding-left: 25px;
          box-sizing: border-box;
          a{
            color: #333;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
            width: 85%;
            display: inline-block;
            position: absolute;
          }
          .circle{
            width: 6px;
            height: 6px;
            background: #333333;
            border-radius: 50%;
            display: inline-block;
            margin-right: 5px;

          }
        }
      }
      .subText{
        // margin-top: 20px;
        padding: 20px 50px;
        overflow: hidden;
        box-shadow: inset -1px 0 0 0 rgba(0,0,0,0.20), inset 1px 0 0 0 rgba(0,0,0,0.20);
        margin-top: -5px;
        text-align: left;
        background: #fff;
        // max-height: 130px;
        min-height: 70px;
        p{
          float: left;
          font-size: 12px;
          color: #333333;
          letter-spacing: 1.6px;
          line-height: 21px;
          // margin-top: 20px;
          display: -webkit-box;
          -webkit-box-orient: vertical;
          -webkit-line-clamp: 3;
          overflow: hidden;
        }
        span{
          float: right;
          font-size: 12px;
          color: #888888;
          letter-spacing: 1.6px;
        }
      }
      .subList{
        text-align: center;
     
        // margin-top: 40px;
            padding: 30px 65px;
        // opacity: 0.13;
        background:rgba(0,0,0,0.13);
        
        color: #2B2B2B;
        position: relative;
        min-height: 220px;
        // opacity: 0.3;
        li{
          list-style:disc;
          font-size: 12px;
          color: #2B2B2B;
          letter-spacing: 1.6px;
          line-height: 26px;
          text-align: left;
          position: relative;
          a{
            overflow: hidden;
            text-overflow:ellipsis;
            white-space: nowrap;
            width: 100%;
            display: inline-block;
            color: #2B2B2B;
            position: absolute;
             &:hover{
            color: #E71111;
            cursor: pointer;
          }
          }
         
        }
      }
      .readMore{
        text-align: center;
         margin-top: 10px; 
        position: absolute;
        bottom: 18px;
        left: 0;
        right: 0;
        a{
          border: 1px solid #E71111;
          padding: 5px 15px;
          font-size: 12px;
          color: #E71111;
          letter-spacing: 0;
          transition: all 0.5s;
          &:hover{
            // animation: bghover 1.5s;
            background: #e71111;
            color:#fff;
          }
        }
      }
    }
  }
}

.y-sevenSection{
  width: 100%;
  background: url(../../images/lawBg.jpg) no-repeat !important;
  background-size: cover !important;
  height: 650px;
  .zhao{
    position: absolute;
    width: 100%;
    height: 650px;
    z-index: 10;
    background: #000;
    opacity: 0.3;
    
  }
  .subSlide{
    position: absolute;
    z-index: 99;
    width: 1000px;
    margin: 0 auto;
    padding-top: 15px;
    left: 0;
    right: 0;
    .content{
    width: 100%;
    overflow: hidden;
    .subContent{
        width: 453px;
        float: left;
        display: flex;
        margin-right: 47px;
        margin-bottom: 100px;
      .content-lt{
        border: 2px solid #fff;
        width: 151.5px;
        height: 95px;
        margin-right: 30px;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        transition: all 0.5s;
        margin-top: 25px;
        // &:hover{
        //   background: #E71111;
        //   cursor: pointer;
        //   transition: all 0.7s;
        // }
      }
      .content-rt{
        text-align: left;
        padding: 20px;
        position: relative;
        width: 100%;
        .text{
          float: left;
         color: #fff;
         position: absolute;
         z-index: 10;
         min-width: 300px;
         min-height: 100px;
          p{
            font-size: 16px;
            // color: #FFFFFF;
            letter-spacing: 1.56px;
            border-bottom: 1px solid #ddd;
            padding-bottom:20px;
            margin-bottom: 5px;
            font-weight: bold;
          }
          div{
            font-size: 12px;
            // color: #FFFFFF;
            letter-spacing: 1.47px;
            line-height: 22px;
            display: -webkit-box;
            // -webkit-box-orient: vertical;
            // -webkit-line-clamp: 3;
            // overflow: hidden;
          }
        }
        .shade{
          float: left;
          width: 115%;
          height: 130%;
          position: absolute;
          // opacity: 0.4;
          // background: #000000;
          background: rgba(0,0,0,0.4);
          right: -40px;
          top: 1px;
          transform: scaleX(0);
          transform-origin: right;
          z-index: 5;
           .more{
            width: 12px;
            height: 100%;
            padding: 0px 10px;
            background:#E71111;
            
            text-align: center;
            float: right;
            /* line-height: 100%; */
            justify-content: center;
            align-items: center;
            display: flex;
            color:#fff;
            opacity: 1;
            z-index: 999;
            a{
              color: #fff;
            }
          }
        }
      }
    }
    }
  }

}
.y-eighthSection{
  width: 100%;
  .d-footer{
    border-top: 1px solid #888;
    padding-top: 49px;
    text-align: center;
    width: 100%;
    margin: 0 auto;
    position: absolute;
    bottom: 0;
  }
  .content{
    width: 1000px;
    overflow: hidden;
    margin: 0 auto;
    .content-list{
      overflow: hidden;
      .subcontent{
        float: left;
        width: 438px;
        text-align: center;
        // heig ht: 180px;
        display: flex;
        align-items: center;
        border: 1px solid #fff;
        padding: 30px;
        background: #F6F6F7;
        transition: all 0.5s;
        &:hover{
          border: 1px solid #E71111;
          background: #fff;
          cursor: pointer;
        }
        &:hover .content-rt .rt-top a{
          color:#e71111;
          text-decoration: underline;
        }
        .content-lt{
          // border: 1px solid #ddd;
          height:43px;
          width: 45px;
          margin-right: 50px;
          img{
            // width: 100%;
          }
        }
        .content-rt{

          .rt-top{
            overflow: hidden;
            span{
              float: left;
              font-size: 16px;
              color: #333333;
              letter-spacing: 1.56px;
              font-weight: bold;
            }
            a{
              float: right;
              font-size: 12px;
              color: #8A8A8A;
              letter-spacing: 1.17px;
              // &:hover{
              //   color: #E71111;
              // }
            }
          }
          .rt-bottom{
            font-size: 13px;
            color: #888888;
            letter-spacing: 1.47px;
            line-height: 22px;
            text-align: left;
            margin-top: 15px;
          }

        }
      }
    }
    .intro{
      text-align: center;
      padding: 20px 20px;
      border: 1px solid #ddd;
      div{
        text-align: left;
        font-size: 14px;
        color: #888888;
        letter-spacing: 0;
        line-height: 28px;
         text-indent:2em;
         margin:20px 0;
      }
      p{
        font-size: 24px;
        color: #333333;
        letter-spacing: 0;
      }
      a{
        font-size: 12px;
        color: #E71111;
        letter-spacing: 0;
        padding: 5px 18px;
        border: 1px solid #E71111;
        &:hover{
          color:#fff;
          background: #E71111;
          animation: bghover 1s;
        }
      }
    }
  }
  .footSection{
  width: 100%;
  margin: 30px 0;
  padding: 0px 30px;
  border-top: 1px solid #D7D7D7;
  padding-top: 30px;
  .content{
    width: 1000px;
    margin: 0 auto;
    overflow: hidden;
    padding: 0px 20px;
    .content-lt{
      float: left;
      width: 800px;
      li{
        float: left;
        width: 350px;
        margin-bottom: 30px;
        text-align: left;
        div{
          margin-right: 5px;
          display: inline;
        }
        span{
          font-size: 18px;
          color: #333333;
          letter-spacing: 0;
        }
        p{
          font-size: 14px;
          color: #333333;
          letter-spacing: 1px;
          margin-top: 5px;
        }
      }
    }
    .content-rt{
      float: left;
      width: 200px;
      .code{
        width: 171px;
        height:171px;
        border: 1px solid #ddd;
      }
    }
  }
}


}

.arrow{
    position: fixed;
    bottom: 15px;
    left: 0;
    right: 0;
    width: 7%;
    margin: 0 auto;
    i{
      font-size: 100px;
    }
}
.backTop{
    display: none;
  position: fixed;
  right: 40px;
  bottom: 40px;
  z-index: 999;
  // animation: backHover 1s forwards;
  &:hover{
    cursor: pointer;
  }
  i{
    font-size: 65px;
  }
}

// @keyframes backHover{
// 	0%{
		
// 		opacity: 0;
// 	}


// 	100%{
		
// 		opacity: 1;
// 	}
// }

.y-fifthSection .subSlide{
  width: 1000px;
  margin: 0 auto;
  box-shadow: 0 8px 15px 0 rgba(0,0,0,0.20);
  opacity: 0.9;
  background: #fff;
  padding-top: 30px;
}
html,
		body {
			position: relative;
			height: 100%;
		}

		body {	
			font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
			// font-size: 14px;
			color: #000;
			margin: 0;
			padding: 0;
		}

		.swiper-container {
			width: 100%;
			height: 100%;
			margin-left: auto;
			margin-right: auto;
		}

		.swiper-slide {
			text-align: center;
			/*font-size: 18px;*/
			// background: #fff;
			display: -webkit-box;
			display: -ms-flexbox;
			display: -webkit-flex;
			display: flex;
			-webkit-box-pack: center;
			-ms-flex-pack: center;
			-webkit-justify-content: center;
			justify-content: center;
			-webkit-box-align: center;
			-ms-flex-align: center;		
		}
		
			*{
				margin: 0;
				padding: 0;
			}
				
			.content-carousel .box{
				/*margin-top: 300px;*/
				width: 100%;
				height: 530px;

				position: relative;
			}

			.list{
				width: 800px;
				height: 520px;
				overflow: hidden;
				position: absolute;
				left: 50%;
				margin-left: -300px;
			}

			.btn{
				position: absolute;
				top: 50%;
				margin-top: -50px;
				width: 60px;
				height: 100px;
				line-height: 100px;
				font-size: 30px;
				color: white;
				text-decoration: none;
				text-align: center;
				background: rgba(0,255,0,.5);
				cursor: pointer;
			}
			.next{
				right: 0;
			}

			.y-eighthSection .content-carousel li{
				position: absolute;
				top: 0;
				left: 0;
				list-style: none;
				/*opacity: 0;*/
				transition: all 0.3s ease-out;
			}
			.p1{
				transform:translate3d(-200px,0,0) scale(0.81);
			}
			.p2{
				transform:translate3d(0px,0,0) scale(0.81);
				transform-origin:0 50%;
				opacity: 0.8;
				z-index: 2;
			}
			.p3{
				transform:translate3d(200px,0,0) scale(1);
				z-index: 3;
				opacity: 1;
			}
			.p4{
				transform:translate3d(400px,0,0) scale(0.81);
				transform-origin:100% 50%;
				opacity: 0.8;
				z-index: 2;
			}
			.p5{
				transform:translate3d(600px,0,0) scale(0.81);
			}
			.p6{
				transform:translate3d(800px,0,0) scale(0.81);
			}
			.p7{
				transform:translate3d(1000px,0,0) scale(0.81);
			}

			.buttons{
				position: absolute;
				width: 800px;
				height: 30px;
				bottom: 0;
				left: 50%;
				margin-left: -300px;
				text-align: center;
				padding-top: 10px;
			}
			.buttons a{
				display: inline-block;
				width: 35px;
				height: 5px;
				padding-top: 4px;
				cursor: pointer;
			}
			.y-eighthSection .content-carousel span{
				display: block;
				width: 35px;
				height: 1px;
				background: red;
			}
			.y-eighthSection .blue{
				background: blue;
			}

			