* {
  margin: 0;
  padding: 0;
  font-family: "微软雅黑";
  word-break: break-all;
}
a {
  text-decoration: none;
}
ul {
  list-style: none;
}
.d-content .d-ct-head {
  background: #e71111;
  width: 100%;
  height: 239px;
  line-height: 239px;
}
.d-content .d-ct-head .d-ct-big {
  display: inline-block;
  color: #fff;
  font-size: 52px;
  font-weight: bold;
}
.d-content .d-ct-head .d-ct-small {
  display: inline-block;
  color: #fff;
  font-size: 14px;
  float: right;
}
.d-content .d-ct-wrapp {
  width: 1180px;
  margin: 0 auto;
}
.d-content .d-ct-content {
  width: 100%;
  background: #f8f8f8;
  padding-bottom: 45px;
}
.d-content .d-ct-content .d-ctwo {
  background: #fff;
  position: relative;
}
.d-content .d-ct-content .d-ctwo .d-ct-white {
  position: absolute;
  width: 100%;
  background: #fff;
  height: 40px;
  top: -40px;
}
.d-content .d-ct-content .d-ctwo .d-ct-shadow {
  position: absolute;
  left: 0;
  top: -11px;
}
.d-content .d-ct-content .d-ctwo .d-ct-left {
  position: absolute;
  top: 0;
  left: 0;
}
.d-content .d-ct-content .d-ctwo .d-ct-left li {
  line-height: 59px;
  padding-left: 28px;
  position: relative;
  list-style: none;
}
.d-content .d-ct-content .d-ctwo .d-ct-left li a {
  display: block;
  width: 137px;
  text-align: center;
  height: 100%;
  text-decoration: none;
  color: #000;
  font-size: 16px;
  border-bottom: 1px solid #e7e7e7;
  transition: all .5s;
}
.d-content .d-ct-content .d-ctwo .d-ct-left li .d-ct-red-box {
  position: absolute;
  display: block;
  width: 13px;
  height: 48px;
  background: white;
  left: 0;
  top: 50%;
  margin-top: -24px;
  transition: all .5s;
}
.d-content .d-ct-content .d-ctwo .d-ct-left li.d-ct-active .d-ct-red-box,
.d-content .d-ct-content .d-ctwo .d-ct-left li:hover .d-ct-red-box {
  background: #e71111;
}
.d-content .d-ct-content .d-ctwo .d-ct-left li.d-ct-active a,
.d-content .d-ct-content .d-ctwo .d-ct-left li:hover a {
  color: #e71111;
}
.d-content .d-ct-content .d-ctwo .d-ct-right {
  padding-left: 165px;
  padding-bottom: 50px;
}
.d-content .d-ct-content .d-ctwo .d-ct-right .d-rigth-ct {
  margin-left: 126px;
  margin-right: 142px;
  position: relative;
  padding-top: 27px;
}
.d-content .d-ct-content .d-ctwo .d-ct-right .d-rigth-ct h3 {
  width: 100%;
  font-size: 20px;
  padding-bottom: 12px;
  color: #010101;
  border-bottom: 1px solid #e5e5e5;
  position: absolute;
  left: 0;
  top: -18px;
  font-weight: normal;
  padding-left: 17px;
  box-sizing: border-box;
}
.d-content .d-ct-content .d-ctwo .d-ct-right .d-rigth-ct .d-ct-icon {
  position: absolute;
  display: inline-block;
  left: -30px;
  top: -14px;
}
.d-content .d-ct-content .d-ctwo .d-ct-right .d-rigth-ct .d-ct-num {
  line-height: 40px;
  padding-left: 17px;
}
.d-content .d-ct-content .d-ctwo .d-ct-right .d-rigth-ct .d-ct-num span.d-ct-piece {
  color: #484848;
  font-size: 12px;
}
.d-content .d-ct-content .d-ctwo .d-ct-right .d-rigth-ct .d-ct-num span.d-ct-piece .d-ct-piece-red {
  color: #e71111;
}
.d-content .d-ct-content .d-ctwo .d-ct-right .d-rigth-ct .d-ct-num .d-ct-piece-float {
  float: right;
}
.d-content .d-ct-content .d-ctwo .d-ct-right .d-rigth-ct .d-ct-list {
  list-style: none;
  padding-bottom: 15px;
  border-bottom: 1px solid #ddd;
}
.d-content .d-ct-content .d-ctwo .d-ct-right .d-rigth-ct .d-ct-list li {
  height: 36px;
  line-height: 36px;
  background: #f4f4f4;
  padding: 0 13px 0 17px;
}
.d-content .d-ct-content .d-ctwo .d-ct-right .d-rigth-ct .d-ct-list li .d-ct-list-title {
  color: #333;
  text-decoration: none;
  display: inline-block;
  width: 70%;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  font-size: 14px;
}
.d-content .d-ct-content .d-ctwo .d-ct-right .d-rigth-ct .d-ct-list li .d-ct-list-title:hover {
  color: #e71111;
}
.d-content .d-ct-content .d-ctwo .d-ct-right .d-rigth-ct .d-ct-list li .d-ct-list-title span {
  font-size: 14px;
}
.d-content .d-ct-content .d-ctwo .d-ct-right .d-rigth-ct .d-ct-list li .d-ct-list-time {
  color: #e71111;
  float: right;
  font-size: 14px;
}
.d-content .d-ct-content .d-ctwo .d-ct-right .d-rigth-ct .d-ct-list li:nth-child(2n) {
  background: #fff;
}
.d-content .d-ct-content .d-ctwo .d-ct-right.d-ct-sear-list {
  padding-left: 0;
}
.d-content .d-ct-content .d-ctwo .d-ct-right.d-ct-sear-list .d-ct-keyword {
  line-height: 44px;
  color: #5d5d5d;
  font-size: 12px;
  padding-left: 17px;
}
.d-content .d-ct-content .d-ctwo .d-ct-right.d-ct-sear-list .d-ct-keyword .d-ct-search-keywords {
  background: #e71111;
  color: #fff;
  padding: 6px;
}
.d-content .d-ct-content .d-ctwo .d-ct-right.d-ct-sear-list .d-ct-list li {
  position: relative;
}
.d-content .d-ct-content .d-ctwo .d-ct-right.d-ct-sear-list .d-ct-list li .d-ct-list-name {
  position: absolute;
  left: 80%;
  font-size: 13px;
  width: 80px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
.d-content .d-ct-content .d-ctwo .d-ct-right.d-ct-sear-list .d-ct-list li .d-ct-list-key-red {
  color: #e71111;
}
.d-content .d-ct-content .d-ctwo .d-ct-right {
  min-height: 308px;
}
.d-content .d-ct-content .d-ctwo .d-ct-right .d-ct-list.d-ct-view-list {
  border: none;
  margin-top: -10px;
}
.d-content .d-ct-content .d-ctwo .d-ct-right .d-ct-list.d-ct-view-list li {
  width: 100%;
  box-sizing: border-box;
  position: relative;
  height: auto;
  background: #fff;
  line-height: initial;
  padding-bottom: 24px;
  border-bottom: 1px dashed #dedede;
  padding-top: 22px;
  overflow: auto;
}
.d-content .d-ct-content .d-ctwo .d-ct-right .d-ct-list.d-ct-view-list li .d-ct-view-ct {
  padding-left: 199px;
  box-sizing: border-box;
  width: 100%;
}
.d-content .d-ct-content .d-ctwo .d-ct-right .d-ct-list.d-ct-view-list li .d-ct-view-ct .d-ct-view-title {
  color: #333;
  font-size: 16px;
  font-weight: bold;
  display: inline-block;
  width: 100%;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  line-height: 20px;
  margin-bottom: 7px;
}
.d-content .d-ct-content .d-ctwo .d-ct-right .d-ct-list.d-ct-view-list li .d-ct-view-ct .d-ct-view-title:hover {
  color: #e71111;
}
.d-content .d-ct-content .d-ctwo .d-ct-right .d-ct-list.d-ct-view-list li .d-ct-view-ct p {
  font-size: 14px;
  color: #888;
  line-height: 24px;
  height: 72px;
  overflow: hidden;
}
.d-content .d-ct-content .d-ctwo .d-ct-right .d-ct-list.d-ct-view-list li .d-ct-view-ct .d-ct-view-time {
  float: right;
  color: #e71111;
}
.d-content .d-ct-content .d-ctwo .d-ct-right .d-ct-list.d-ct-view-list li .d-ct-view-img {
  display: inline-block;
  position: absolute;
  left: 0;
  top: 22px;
  width: 177px;
  height: 117px;
}
.d-content .d-ct-content .d-ctwo .d-ct-content-1 {
  padding: 0 249px 50px 165px;
  background: #fff;
  box-sizing: border-box;
}
.d-content .d-ct-content .d-ctwo .d-ct-content-1 .d-ct-middle {
  padding: 0 20px 0 50px;
  overflow: hidden;
}
.d-content .d-ct-content .d-ctwo .d-ct-content-1 .d-ct-middle h3 {
  width: 640px;
  margin: 0 auto;
  font-size: 24px;
  color: #333;
  font-weight: bold;
  text-align: center;
}
.d-content .d-ct-content .d-ctwo .d-ct-content-1 .d-ct-middle .d-ct-info {
  border-bottom: 1px dashed #c4c4c4;
  padding: 17px 0 12px 0;
  text-align: center;
  margin-bottom: 13px;
  font-size: 12px;
}
.d-content .d-ct-content .d-ctwo .d-ct-content-1 .d-ct-middle .d-ct-info span {
  margin-right: 9px;
  color: #b9b9b9;
}
.d-content .d-ct-content .d-ctwo .d-ct-content-1 .d-ct-middle .d-ct-digest {
  background: #f4f4f4;
  padding: 15px 10px;
  color: #888;
  line-height: 26px;
  font-size: 13px;
}
.d-content .d-ct-content .d-ctwo .d-ct-content-1 .d-ct-middle .d-ct-text {
  padding: 10px;
}
.d-content .d-ct-content .d-ctwo .d-ct-article {
  position: absolute;
  top: 0;
  right: 0;
  width: 249px;
}
.d-content .d-ct-content .d-ctwo .d-ct-article .d-ct-at-related {
  width: 249px;
  height: 48px;
  background: #e71111;
  color: #fff;
  font-size: 18px;
  padding-left: 30px;
  line-height: 48px;
  font-weight: bold;
  box-sizing: border-box;
}
.d-content .d-ct-content .d-ctwo .d-ct-article .d-ct-at-list li {
  padding: 14px 20px;
  box-sizing: border-box;
}
.d-content .d-ct-content .d-ctwo .d-ct-article .d-ct-at-list li a {
  display: inline-block;
  width: 100%;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  font-size: 14px;
  color: #333;
}
.d-content .d-ct-content .d-ctwo .d-ct-article .d-ct-at-list li a:hover {
  color: #e71111;
}
.d-content .d-ct-content .d-ctwo .d-ct-article .d-ct-at-list li img {
  margin-right: 9px;
}
.d-content .d-ct-content .d-ctwo .d-ct-article .d-ct-at-upDown {
  border-top: 1px solid #e71111;
}
.d-content .d-ct-content .d-ctwo .d-ct-article .d-ct-at-upDown li {
  padding: 14px 15px;
  overflow: hidden;
  box-sizing: border-box;
}
.d-content .d-ct-content .d-ctwo .d-ct-article .d-ct-at-upDown li a {
  display: inline-block;
  font-size: 14px;
  color: #333;
  float: left;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  width: 110px;
}
.d-content .d-ct-content .d-ctwo .d-ct-article .d-ct-at-upDown li a:hover {
  color: #e71111;
}
.d-content .d-ct-content .d-ctwo .d-ct-article .d-ct-at-upDown li a.d-ct-at-rewq,
.d-content .d-ct-content .d-ctwo .d-ct-article .d-ct-at-upDown li a.d-ct-at-rewq:hover {
  color: #333;
  cursor: default;
}
.d-content .d-ct-content .d-ctwo .d-ct-article .d-ct-at-upDown li img {
  margin-right: 9px;
  float: left;
  margin-top: 5px;
}
.d-content .d-ct-content .d-ctwo .d-ct-article .d-ct-at-upDown li span {
  float: left;
  line-height: 20px;
  font-size: 14px;
}
.d-sidebar {
  position: fixed;
  right: 10%;
  bottom: 15%;
}
.d-sidebar li {
  margin-bottom: 12px;
  position: relative;
  cursor: pointer;
}
.d-sidebar li img {
  display: inline-block;
  width: 47px;
  height: 47px;
}
.d-sidebar li .d-code {
  display: none;
  position: absolute;
  right: 47px;
  bottom: 20px;
  width: 214px;
  height: 239px;
}
.d-sidebar .d-top-show {
  display: none;
}
/*# sourceMappingURL=listCommon.css.map */
