body{
	overflow-x: hidden;
	
}
.y-container .subContainer{
	height: auto!important;
}
/*--------------------第一板块----------------------*/
.swiper-container-nam{
	width: 100%;
	height: 520px;
	position: relative;
	overflow: hidden;
}
.swiper-container-nam .swiper-slide{
	width: 100%;
	/*overflow: auto;*/
	height: 520px;
}
.swiperBox-nam,.swiperImg-nam{
	width: 55%;
	height: 100%;
	float: left;
}

.swiperImg-nam{
	width:45%;
	box-sizing: border-box;
	position: relative;
}

.swiperBox-nam{
	vertical-align:baseline;
	padding-right: 20px;
	box-sizing: border-box;
	position: relative;
	
}
.swiper-title-nam{
	width: 550px;
	text-align: left;
	font-family: "微软雅黑";
	font-weight: bold;
	font-size: 38px;
	color: #444444;
	margin-top:92px ;
	position: absolute;
	right: 0;
}
.swiper-title-nam:nth-of-type(3){
	width: 350px!important;
}
.swiper-text-nam{
	width: 550px;
	text-align: left;
	font-family: "微软雅黑";
	font-size: 19px;
	color: #888888;
	letter-spacing: 0;
	margin-top: 19px;
	/*padding-right: 150px;*/
	position: absolute;
	right: 0;
	top: 150px;
}
.swiper-view-nam{
	width: 550px;
	text-align: left;
	display: inline-block;
	/*padding-right:360px ;*/
	margin-top: 36px;
	position: absolute;
	right: 0;
	top: 226px;
}
.swiper-view-nam a{
	display: inline-block;
	width: 130px;
	height: 36px;
	border: 1px solid #333;
	text-decoration: none;
	color: #333;
	text-align: center;
	line-height: 36px;
}
.swiper-view-nam a:hover{
	transition: 0.3s;
	border: 1px solid #333;
	background: #333;
	color: #fff;
}
 .swiper-pagination-nam{
 	position: absolute;
 	bottom: 0;
 	text-align: center;
 	z-index: 100;
 }
.swiper-pagination-bullet{
	width: 12px!important;
	height: 12px!important;
	border-radius: 50%;
	background: #fff!important;
	border:2px solid #7F7F7F!important;
}
.swiper-pagination-bullet-active{
	background: #E71111!important;
	border:2px solid #E71111!important;
}
.aa{
	animation: aa 1s 1s forwards;
}
@keyframes aa{
	from{
		transform: translateX(-10px);
		opacity: 0;
	}
	to{
		transform: translateX(0px);
		opacity: 1;
	}
}

.sub-contain-nam{
	display: flex;
	justify-content: center;
	background: #F4F4F4;
	height: 139px;
}
.sub-contain-nam .subcontent{
	width: 250px;
	height: 139px;
	box-shadow: inset 1px 0 0 0 rgba(146,146,146,0.20), inset -1px 0 0 0 rgba(146,146,146,0.20);

}
.sub-contain-nam .sub,.sub-contain-nam .subcontent-rt{
	width:100%;
	height: 100%;
	display: flex;
	overflow: hidden;
	float: left;
}
.sub-contain-nam .sub{
	transform-origin: left;
	flex-grow: 1;
	background: rgb(244, 244, 244);
	box-shadow: inset 1px 0 0 0 rgba(146,146,146,0.20), inset -1px 0 0 0 rgba(146,146,146,0.20);
}
.sub-contain-nam .subcontent-rt{
	background: url(../images/redbgcolor.png) ;
	font-size: 12px!important;
	transform-origin: right;
	/*animation: shen 1s forwards;*/
	position: relative;
	top: -139px;
	transform: scaleX(0) ;
}
.sub-contain-nam .content-lt{
	width: 44%;
	display: flex;
	justify-content: center;
	align-items: center;
}
.sub-contain-nam .content-rt{
	display: flex;
	flex-direction: column;
	
	justify-content: center;
	/*align-items: center;*/
}
.sub-contain-nam .content-rt p{
	width: 100%;
	text-overflow: clip;
}
.sub-contain-nam .content-rt p:nth-of-type(1){
	font-family:"微软雅黑";
	font-weight: 500;
	font-size: 16px!important;
	color: #333333;
	margin-bottom: 4px;
}
.sub-contain-nam .content-rt p:nth-of-type(2){
	font-family: "微软雅黑";
	font-size: 12px!important;
	color: #888888;
}
.sub-contain-nam .subcontent:nth-last-of-type(1) p{
	color: #B9B9B9;
}
.sub-contain-nam .subcontent-rt-rt{
	flex-direction: column;
	
}
.sub-contain-nam .subcontent-rt-rt a{
	line-height: 28px;
	text-overflow: clip;
	text-align: left;
	color: #fff;
}
.sub-contain-nam .subcontent-rt-rt a:hover{
	text-decoration: underline;
}
/*.sub-contain-nam .subcontent-rt-rt a:hover{
	text-decoration: underline;
}*/
@keyframes shen{
	0%{
		transform: scaleX(1);
		flex-grow: 1;
	}
	100%{
		transform: scaleX(0);
		flex-grow: 0;
	}
}
@keyframes suo{
	0%{
		transform: scaleX(0);
		flex-grow: 0;
	}
	100%{
		transform: scaleX(1);
		flex-grow: 1;
	}
}
@keyframes shen2{
	0%{
		transform: scaleX(1);
		/*opacity: 0;*/
	}
	/*50%{
		opacity: 0.5;
	}*/
	100%{
		transform: scaleX(0.8);
		/*opacity: 1;*/
	}
}
@keyframes suo2{
	0%{
		transform: scaleX(0.8);
		/*opacity: 0;*/
	}
	/*50%{
		opacity: 0.8;
		transform: scaleX(1);
	}*/
	100%{
		transform: scaleX(1);
		/*flex-grow: 1;*/
	}
}
/*--------------------第四板块----------------------*/
.y-fourthSection{
	width: 100vw;
	height: 690px;
}
.y-fourthSection .subSlide-nam{
	width:100%;
	height:100%;
	/*padding-top: 35px;*/
	box-sizing: border-box;
	display: flex;
	flex-direction: column;
	background: #333;
	/*animation-timing-function: cubic-bezier();*/
}
.y-fourthSection .subSlide-nam .title{
	margin-top: 30px!important;
}
.y-fourthSection .subSlide-nam .content{
	flex-grow: 1;
	width:100%
}
.y-fourthSection .subSlide-nam .name{
	background: #333;
}
.y-fourthSection .subSlide-nam .name h3{
	color: #fff;
}
.y-fourthSection .subSlide-nam .name h4{
	letter-spacing: 0px;
	margin-top: 3px;
	/*display: inline;*/
}
.y-fourthSection .subSlide-nam .name span{
	color: #fff;
}
.y-fourthSection .subSlide-nam .content{
	display: flex;
}
.y-fourthSection .subSlide-nam .content .subcontent{
	flex-grow: 1;
	background-size:cover;
	border: none;
}
.y-fourthSection .subcontent:nth-of-type(1){
	background: url(../images/buildbg.jpg);
}
.y-fourthSection .subcontent:nth-of-type(2){
	background: url(../images/diaoyan.png);
}
.y-fourthSection .subcontent:nth-of-type(3){
	background: url(../images/zhuzuo.png);
}
.subcontentHoverBefor{
	width: 100%;
	height: 100%;
	padding-top: 100px;
	background: rgba(0,0,0,0.5);
	position: relative;
}
.subcontentHoverBefor:hover{
	transition:all 0.3s;
	background: rgba(231,17,17,0.71);
}
.resultImgNam{
	width: 125px;
	height: 120px;
	/*background: ;*/
	margin: 0 auto;
}
.resultImgNam img{
	margin-top: 27px;
}
.resultTitleNam{
	width: 100%;
	margin-top:80px ;
	position: absolute;
}
.resultTitleNam span{
	display: inline-block;
	width: 100%;
	color: #fff;
	font-size: 24px;
	font-family: "微软雅黑";
	text-align: center;
}
.resultTitleNam p{
	display: inline-block;
	width: 100%;
	color: #B8B8B8;
	font-size: 16px;
	font-family: "微软雅黑";
	text-align: center;
	margin-top: 9px;
}	
.resultContentNam{
	width: 100%;
	margin-top: 40px;
	opacity: 0;
	color: #fff;
	min-height: 175px;
}
.resultContentNam li{
	width: 80%;
	margin: auto;
	margin-bottom: 33px;
	text-align: center;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}
.resultContentNam li a{
	color: #fff;
	text-decoration: none;
}
.subcontent	.resultMoreNam{
	margin-top:62px;
	opacity: 0;
}
.subcontent	.resultMoreNam a{
	display: inline-block;
	width: 126px;
	height: 32px;
	font-size: 12px;
	border: 2px solid #fff;
	text-align: center;
	line-height: 32px;
	color: #FFFFFF;
	text-decoration: none;
}
@keyframes moveup{
	0%{
		transform: translateY(0px);
	}
	70%{
		transform: translateY(-67px);
	}
	100%{
		transform: translateY(-65px);
	}
}
@keyframes movedown{
	0%{
		transform: translateY(-65px);
	}
	70%{
		transform: translateY(-69px);
	}
	100%{
		transform: translateY(0px);
	}
}
@keyframes movetitledown{
	0%{
		transform: translateY(0px);
		opacity: 1;
	}
	50%{
		
		opacity: 0.8;
	}
	/*80%{
		
		opacity: 0.5;
	}*/
	100%{
		transform: translateY(30px);
		opacity: 0;
	}
}
@keyframes movetitleup{
	0%{
		transform: translateY(30px);
		
		opacity: 0;
	}
	50%{
		
		opacity: 0.5;
	}
	80%{
		
		opacity: 1;
	}
	100%{
		transform: translateY(0px);
		opacity: 1;
	}
}
@keyframes moveupcontent{
	0%{
		transform: translateY(0px);
		opacity: 0;
	}
	70%{
		transform: translateY(-57px);
	}
	100%{
		transform: translateY(-55px);
		opacity: 1;
	}
}
@keyframes movedowncontent{
	0%{
		transform: translateY(-55px);
		opacity: 1;
	}
	70%{
		transform: translateY(-57px);
	}
	100%{
		transform: translateY(0px);
		opacity: 0;
	}
}
@keyframes moveup2{
	0%{
		transform: translateY(0px);
		opacity: 0;
	}
	80%{
		transform: translateY(-14px);
		opacity: 1;
	}
	100%{
		transform: translateY(-10px);
		opacity: 1;
	}
}
@keyframes movedown2{
	0%{
		transform: translateY(-10px);
		opacity: 1;
	}
	80%{
		transform: translateY(-14px);
		opacity: 1;
	}
	100%{
		transform: translateY(0px);
		opacity: 0;
	}
}
@keyframes moveup3{
	0%{
		transform: translateY(0px);
		opacity: 0;
	}
	100%{
		transform: translateY(-20px);
		opacity: 1;
	}
}
@keyframes movedown3{
	0%{
		transform: translateY(-20px);
		opacity: 1;
	}

	100%{
		transform: translateY(0px);
		opacity: 0;
	}
}
@keyframes movedown4{
	0%{
		transform: translateY(0px);
		opacity: 0;
	}

	100%{
		transform: translateY(30px);
		opacity: 1;
	}
}
@keyframes fadeUp{
	0%{
		transform: translate3d(0,100%,0);
		opacity: 0;
	}
	100%{
		/*transform:inherit;*/
		opacity: 1;
	}
}
@keyframes fadeDown{
	0%{
		opacity: 1;
	}
	90%{
		transform: translate3d(0,100%,0);
	}
	100%{
		opacity: 0;
		display: none;
	}
}
@keyframes movemoredown{
	0%{
		transform: translateY(-30px);
		opacity: 1;
	}
	/*50%{
		opacity: 0.5;
	}*/

	100%{
		transform: translateY(0px);
		opacity: 0;
	}
}
@keyframes movemoreup{
	0%{
		transform: translateY(0px);
		
		opacity: 0;
	}
	/*50%{
		
		opacity: 0.5;
	}*/
	/*80%{
		
		opacity: 1;
	}*/
	100%{
		transform: translateY(-30px);
		opacity: 1;
	}
}
@keyframes fadeinNam{
	0%{
		opacity: 0;
	}
	100%{
		opacity: 1;
	}
}
@keyframes fadeOutNam{
	0%{
		opacity: 1;
	}
	50%{
		opacity: 0.5;
	}
	100%{
		opacity: 0;
	}
}
.fadeinNam{
	animation: fadeinNam 0.2s forwards;
}
.fadeOutNam{
	animation: fadeOutNam 0.4s  forwards;
}
.squares{
		/*transform: scale3d(1.5,1.5,1.5);*/
		opacity: 0;
}
.moveup{
	transition: 0.3s;
	animation: moveup 0.3s ease-in forwards;
}
.movedown{
	/*transition: 0.15s;*/
	animation: movedown 0.15s forwards;
}
.moveup2{
	animation: moveup2 0.2s forwards;
}
.movedown2{
	animation: movedown2 0.2s forwards;
}

.moveup3{
	animation: moveup3 0.4s forwards;
}
.movedown4{
	animation: movedown4 0.4s 0.5s forwards;
	opacity: 0;
}
.movedown3{
	animation: movedown3 0.2s forwards;
}
.movetitleup{
	animation: movetitleup 0.35s forwards;
}
.movetitledown{
	animation: movetitledown 0.35s forwards;
}
.moveupcontent{
	animation: moveupcontent 0.3s 0.2s forwards;
}
.movedowncontent{
	animation: movedowncontent 0.15s forwards;
}
.movemoredown{
	animation: movemoredown 0.3s  forwards;
}
.movemoreup{
	animation: movemoreup 0.3s forwards;
}
@keyframes inzoom{
	0%{
		transform: scale3d(1.2,1.2,1.2);
		opacity: 0;
	}
	50%{
		opacity: 1;
		transform: scale3d(1,1,0);
	}
	100%{
		opacity: 1;
	}
}
@keyframes outzoom{
	0%{
		transform: scale3d(1,1,0);
		opacity: 1;
	}

	100%{
		transform: scale3d(1.2,1.2,1.2);
		opacity: 0;
	}
}
/*@keyframes bgh{
	0%{
		background: none;
	}
	
	100%{
		background: rgba(0,0,0,0.71);
	}
}
@keyframes bgn{
	0%{
		background: rgba(0,0,0,0.71);
	}

	100%{
		background: none;
	}
}*/
.img-list:hover .mockNam{
	transition: .3s;
	background: rgba(0,0,0,0.71);
}
/*----------------- 第五板块----------------*/
.img-list{
	position: relative;
}
.squares{
	width:256px;
	height: 116px;
	position: absolute;
	z-index: 100;
	border: 1px solid #FFFFFF;
	top: 12px;
	left: 12px;
	color: #fff;
	padding: 13px 8px;
	box-sizing: border-box;
}
.squares p{
	text-align: center;
	font-family: "微软雅黑";
	font-size: 15px!important;
	color: #FFFFFF;
	letter-spacing: 1px;
	line-height: 22px;
}
.subImg{
	position: relative;
}
.mockNam{
	width: 100%;
	height: 100%;
	
	position: absolute;
	top: 0;
	left: 0;
}
.newMoreNam{
	
	position: absolute;
	z-index: 101;
	left: 50%;
	margin-left: -55px;
	bottom: 0px;
	opacity: 0;
}
.newMoreNam a{
	display: inline-block;
	width: 110px;
	height: 28px;
	text-align: center;
	border: 1px solid #fff;
	font-size: 12px!important;
	color: #fff;
	line-height: 28px;
}
.inzoom{
	animation: inzoom 0.3s forwards;
}
.outzoom{
	animation: outzoom 0.3s forwards;
}
.fadeUp{
	animation: fadeInUp 0.3  forwards;
}
.fadeDown{
	animation: fadeOutDown 0.3  forwards;
}
/*底部轮播*/
.y-eighthSection{
	height: auto;
}
/* jQuery bottomRollNam css */
.bottomRollNam { position:relative; height:342px;  }
.bottomRollNam li { border:1px solid #ccc; }
.bottomRollNam li a { background:#fff; display:block; height:340px;  }
.bottomRollNam li.loading a { background:#fff url(img/loading.gif) no-repeat center center;} 
.bottomRollNam li img,.bottomRollNam li,.bottomRollNam em,.bottomRollNam dl { display:none; border:0 none;}
.bottomRollNam em.sPrev { background:url(../images/arrow-left.png) no-repeat left center; }
.bottomRollNam em.sNext { background:url(../images/arrow-right.png) no-repeat right center;}
.bottomRollNam dl dd { background:url(images/NumBtn.png) no-repeat 0 bottom; text-indent:-9em; }
.bottomRollNam dl dd:hover,.bottomRollNam dl dd.curr { background-position:0 0; }
.pageNam{
	width: 100%;
	height: 5px;
	display: flex;
	justify-content: center;
}
.pageNam li{
	width: 64px;
	height: 3px;
	background: #D8D8D8;
	margin: 0 8px;
}
.pageNam .activeNam{
	background: #E71111;
}
.code{
	background: url(../images/codesquashed.jpg) no-repeat;
	background-size:cover;
}
.y-secondSection{
	background: none!important;
}
/*.swiper-container{
	background: url(../images/feng.png);
}*/
.y-sevenSection .subSlide .content .subContent .shade{
	box-sizing:border-box;
	background: none!important;
	transform: none!important;
	/*position: relative!important;*/
	/*right: 0;*/
}
.y-sevenSection .subSlide .content .subContent .shade .moreLinkNam{
	width: 30px;
	height: 100%;
	text-align: center;
	word-break: break-all;
	position: absolute;
	right: 0;
	text-decoration: none;
	padding-top: 40px;
	box-sizing: border-box;
	background: #E71111;
	/*line-height: 20px;*/
	opacity: 0;
}
.y-sevenSection .subSlide .content .subContent .shade .moreLinkNam a{
	color: #fff;
	transform-origin:center;
	transform: rotateX(90deg);
}

.shade .more{
	transform-origin: right;
	width: 95%!important;
	height: 100%;
	background: rgba(0, 0, 0, 0.4)!important;
	transform: scaleY(0);
}
.y-secondSection{
	/*background: #fff!important;*/
}
	.leftmovenam{
		transition:all .3s;
		color: rgb(231,17,17);
		transform: translateX(-30px);
	}
	.rightmovenam{
		transition:all .3s;
		transform: translateX(0px);
	}
	.shenleftnam{
		transition:all .3s;
		animation: suo 0.3s forwards;
	}
	.shenrightnam{
		transition:all .3s;
		animation: shen 0.3s forwards;
	}
	.y-fifthSection{
		margin-top:0!important ;
	}
	.y-fifthSection .content .content-lt ul li a{
		opacity: 1!important;
	}
	.y-fifthSection .subSlide{
		margin: 100px auto 0!important;
	}
	.y-fifthSection .content .content-lt ul li:nth-of-type(1) span{
		opacity: 1!important;
	}  
.y-sixSection{
	background: url(../images/bigfeng.png) center center / cover no-repeat fixed;
	/*background-size: contain;*/
}
.arrow{
	z-index: 999;
}
.y-eighthSection .title{
	margin-top:45px!important; 
}
.y-thirdSection .title{
	margin-top:50px!important; 
	margin-bottom: 2.1%!important;
}

.y-eighthSection .footSection{
	border:none;
	position: relative;
}
.y-eighthSection .footSection:after{
	content: "";
	display: block;
	position: absolute;
	top:0;
	border-top: 1px solid #D7D7D7;
	width:1000px;
	left: 50%;
	margin-left:-528px ;
}
.ImgBook{
	position: absolute;
	top: 92px;
}
.ImgBook img{
	transform: translateX(-10px);
	opacity: 0;
}
