body{
	overflow-x: hidden;
	
}
/*--------------------第一板块----------------------*/
.swiper-container-nam{
	width: 100%;
	height: 520px;
	position: relative;
	overflow: hidden;
}
.swiper-container-nam .swiper-slide{
	width: 100%;
	overflow: auto;
	height: 520px;
}
.swiperBox-nam,.swiperImg-nam{
	width: 55%;
	height: 100%;
	float: left;
}

.swiperImg-nam{
	width:45%;
	padding-left:20px ;
	box-sizing: border-box;
	position: relative;
}
.ImgBook{
	position: absolute;
	top: 90px;
	left:-70px;
	/*opacity: 0;*/
	width: 308px;
	height: 315px;
	background: url(../images/book.png) no-repeat center center;
}
.swiperBox-nam{
	text-align: right;
	vertical-align:baseline;
	padding-right: 20px;
	box-sizing: border-box;
}
.swiper-title-nam{
	font-family: "微软雅黑";
	font-weight: 400;
	font-size: 38px;
	color: #444444;
	margin-top:92px ;
}
.swiper-text-nam{
	font-family: "微软雅黑";
	font-size: 19px;
	color: #888888;
	letter-spacing: 0;
	margin-top: 19px;
	padding-right: 150px;
	/*opacity: 0;*/
}
.swiper-view-nam{
	display: inline-block;
	padding-right:360px ;
	margin-top: 36px;
	/*opacity: 0;*/
}
.swiper-view-nam a{
	display: inline-block;
	width: 130px;
	height: 36px;
	border: 1px solid #333;
	text-decoration: none;
	color: #333;
	text-align: center;
	line-height: 36px;
}

 .swiper-pagination-nam{
 	position: absolute;
 	bottom: 0;
 	text-align: center;
 	z-index: 100;
 }
.swiper-pagination-bullet{
	width: 12px!important;
	height: 12px!important;
	border-radius: 50%;
	border:2px solid #7F7F7F!important;
}
.swiper-pagination-bullet-active{
	background: #E71111!important;
	border:2px solid #E71111!important;
}
.aa{
	animation: aa 1s 1s forwards;
}
@keyframes aa{
	from{
		left: -70px;
		/*opacity: 0;*/
	}
	to{
		left: 0px;
		opacity: 1;
	}
}

.sub-contain-nam{
	display: flex;
	justify-content: center;
	background: #F4F4F4;
	height: 139px;
}
.sub-contain-nam .subcontent{
	width: 250px;
	height: 139px;
	box-shadow: inset 1px 0 0 0 rgba(146,146,146,0.20), inset -1px 0 0 0 rgba(146,146,146,0.20);

}
.sub-contain-nam .sub,.sub-contain-nam .subcontent-rt{
	width:100%;
	height: 100%;
	display: flex;
	overflow: hidden;
	float: left;
}
.sub-contain-nam .sub{
	transform-origin: left;
	flex-grow: 1;
}
.sub-contain-nam .subcontent-rt{
	background: url(../images/redbgcolor.png) ;
	transform-origin: right;
	/*animation: shen 1s forwards;*/
	position: relative;
	top: -139px;
	transform: scaleX(0) ;
}
.sub-contain-nam .content-lt{
	width: 44%;
	display: flex;
	justify-content: center;
	align-items: center;
}
.sub-contain-nam .content-rt{
	display: flex;
	flex-direction: column-reverse;
	
	justify-content: center;
	/*align-items: center;*/
}
.sub-contain-nam .content-rt p{
	width: 100%;
	text-overflow: clip;
}
.sub-contain-nam .content-rt p:nth-of-type(0){
	font-family: "微软雅黑";
	font-weight: 400;
	font-size: 16px;
	color: #333333;
	margin-bottom: 4px;
}
.sub-contain-nam .content-rt p:nth-of-type(1){
	font-family: "微软雅黑";
	font-size: 12px;
	color: #888888;
}
.sub-contain-nam .subcontent:nth-last-of-type(1) p{
	color: #888888;
}
.sub-contain-nam .subcontent-rt-rt{
	flex-direction: column;
	
}
.sub-contain-nam .subcontent-rt-rt span{
	line-height: 28px;
	color: #fff;
	text-overflow: clip;
}
@keyframes shen{
	0%{
		transform: scaleX(1);
		flex-grow: 1;
	}
	100%{
		transform: scaleX(0);
		flex-grow: 0;
	}
}
@keyframes suo{
	0%{
		transform: scaleX(0);
		flex-grow: 0;
	}
	100%{
		transform: scaleX(1);
		flex-grow: 1;
	}
}
/*--------------------第四板块----------------------*/

.y-fourthSection .subSlide-nam{
	width:100%;
	height:100%;
	padding-top: 35px;
	box-sizing: border-box;
	display: flex;
	flex-direction: column;
	background: #333;
}
.y-fourthSection .subSlide-nam .content{
	flex-grow: 1;
	width:100%
}
.y-fourthSection .subSlide-nam .name{
	background: #333;
}
.y-fourthSection .subSlide-nam .name h3{
	color: #fff;
}
.y-fourthSection .subSlide-nam .name h4{
	letter-spacing: 0px;
	margin-top: 3px;
	display: inline;
}
.y-fourthSection .subSlide-nam .name span{
	color: #fff;
}
.y-fourthSection .subSlide-nam .content{
	display: flex;
}
.y-fourthSection .subSlide-nam .content .subcontent{
	flex-grow: 1;
	background-size:cover;
	border: none;
}
.y-fourthSection .subcontent:nth-of-type(1){
	background: url(../images/buildbg.jpg);
}
.y-fourthSection .subcontent:nth-of-type(2){
	background: url(../images/diaoyan.png);
}
.y-fourthSection .subcontent:nth-of-type(3){
	background: url(../images/zhuzuo.png);
}
.subcontentHoverBefor{
	width: 100%;
	height: 100%;
	background: rgba(0,0,0,0.5);
	padding-top: 150px;
}
.subcontentHoverBefor:hover{
	background: rgba(231,17,17,0.71);
}
.resultImgNam{
	width: 125px;
	height: 105px;
	/*background: ;*/
	margin: 0 auto;
}
.resultImgNam img{
	margin-top: 27px;
}
.resultTitleNam{
	width: 100%;
	margin-top:56px ;
}
.resultTitleNam span{
	display: inline-block;
	width: 100%;
	color: #fff;
	font-size: 24px;
	font-family: "微软雅黑";
	text-align: center;
}
.resultTitleNam p{
	display: inline-block;
	width: 100%;
	color: #B8B8B8;
	font-size: 16px;
	font-family: "微软雅黑";
	text-align: center;
	margin-top: 9px;
}	
.resultContentNam{
	width: 100%;
	/*margin-top: 63px;*/
	display: none;
}
.resultContentNam	li{
	width: 100%;
	margin-bottom: 33px;
	text-align: center;
}
.resultContentNam	li a{
	color: #fff;
	text-decoration: none;
}
.resultContentNam	.resultMoreNam{
	margin-top:62px;
	opacity: 0;
}
.resultContentNam	.resultMoreNam a{
	display: inline-block;
	width: 126px;
	height: 32px;
	border: 2px solid #fff;
	text-align: center;
	line-height: 32px;
	color: #FFFFFF;
	text-decoration: none;
}
@keyframes moveup{
	0%{
		transform: translateY(0px);
	}
	70%{
		transform: translateY(-70px);
	}
	100%{
		transform: translateY(-65px);
	}
}
@keyframes movedown{
	0%{
		transform: translateY(-65px);
	}

	100%{
		transform: translateY(0px);
	}
}
@keyframes moveup2{
	0%{
		transform: translateY(0px);
		opacity: 0;
	}
	100%{
		transform: translateY(-10px);
		opacity: 1;
	}
}
@keyframes movedown2{
	0%{
		transform: translateY(-10px);
		opacity: 1;
	}

	100%{
		transform: translateY(0px);
		opacity: 0;
	}
}
.moveup{
	animation: moveup 0.3s forwards;
}
.movedown{
	animation: movedown 0.3s forwards;
}
.moveup2{
	animation: moveup2 0.15s forwards;
}
.movedown2{
	animation: movedown2 0.15s forwards;
}
.moveup3{
	animation: moveup2 0.4s forwards;
}
.movedown3{
	animation: movedown2 0.4s forwards;
}
.squares{
		/*transform: scale3d(1.5,1.5,1.5);*/
		opacity: 0;
}
@keyframes inzoom{
	0%{
		transform: scale3d(1.2,1.2,1.2);
		opacity: 0;
	}
	50%{
		opacity: 1;
		transform: scale3d(1,1,0);
	}
	100%{
		opaity: 1;
	}
}
@keyframes outzoom{
	0%{
		transform: scale3d(1,1,0);
		opacity: 1;
	}

	100%{
		transform: scale3d(1.2,1.2,1.2);
		opacity: 0;
	}
}
.inzoom{
	animation: inzoom 0.3s forwards;
}
.outzoom{
	animation: outzoom 0.3s forwards;
}
/*----------------- 第五板块----------------*/
.img-list{
	position: relative;
}
.squares{
	width:256px;
	height: 130px;
	position: absolute;
	z-index: 100;
	border: 1px solid #FFFFFF;
	top: 12px;
	left: 12px;
	color: #fff;
	padding: 13px 8px;
	box-sizing: border-box;
}
.squares p{
	text-align: center;
	font-family: "微软雅黑";
	font-size: 15px;
	color: #FFFFFF;
	letter-spacing: 1px;
	line-height: 22px;
}
.newMoreNam{
	width: 110px;
	height: 28px;
	text-align: center;
	border: 1px solid #fff;
	position: absolute;
	z-index: 101;
	left: 50%;
	margin-left: -55px;
	bottom: 0px;
	opacity: 0;
}
.newMoreNam a{
	color: #fff;
	line-height: 28px;
}
