<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<title>中国破产法论坛网</title>
	<link href="../../images/favicon.ico" rel="shortcut icon">
	<!--<link rel="stylesheet" href="../../css/plugs.css?rev=@@hash" />-->
	<link rel="stylesheet" href="../../css/index.css?rev=@@hash" />
	<link rel="stylesheet" href="../../static/swiper/swiper-3.4.1.min.css?rev=@@hash">
	<link rel="stylesheet" href="../../static/swiper/animate.min.css?rev=@@hash">
	<link rel="stylesheet" href="../../static//icon/iconfont.css">
	<!-- 公共插件打包 比如jquery -->
	<script src="../../js/plugs.js?rev=@@hash"></script>
	<script src="../../static/layer/build/layer.js"></script>
	<script type="text/javascript" src="../../static/swiper/swiper-3.4.1.min.js?rev=@@hash"></script>
	<!-- domjs中所有特效打包  commonjs 公共方法打包  config打包-->
	<script src="../../js/index.js?rev=@@hash"></script>
	<!-- 底部轮播 -->
	<!--<script type="text/javascript" src="../../static/scroll/jQuery-easing.js"></script>
	<script type="text/javascript" src="../../static/scroll/jQuery-jcImgScroll.js"></script>-->
	<!--<script type="text/javascript" src="../../static/scroll/3d.js"></script>-->
	
	<!-- angular相关设置打包  module名 myApp -->
	<script src="../../js/ng.js?rev=@@hash"></script>
	<script src="../../js/datajs/viewchange.js?rev=@@hash"></script>
	<script src="../../js/datajs/homes.js?rev=@@hash"></script>
	<script src="../../js/datajs/home.js?rev=@@hash"></script>
	<!--<script src="../../js/domjs/home.js?rev=@@hash"></script>-->
	
</head>

<body ng-app="myApp" ng-controller="homeList">
	<!--header-->
	<div class="d-header" style="position: fixed;top: 0;z-index:999;">
		<div class="d-wrapp">
			<!--LOGO-->
			<a href="./index.html"><img src="../../images/logo.jpg" alt="" class="d-logo" /></a>
			<!--LOGO-->
			<!--nav-->
			<ul class="d-nav">
				<li class=""><a href="javascript:;">通知公告</a><span class="d-red-line"></span></li>
				<li><a href="javascript:;">成果展示</a><span class="d-red-line"></span></li>
				<li><a href="javascript:;">新闻资讯</a><span class="d-red-line"></span></li>
				<li><a href="javascript:;">司法案例</a><span class="d-red-line"></span></li>
				<li><a href="javascript:;">法律文本</a><span class="d-red-line"></span></li>
				<li><a href="javascript:;">关于我们</a><span class="d-red-line"></span></li>
				<li><a href="javascript:;" style="color: #B9B9B9;" class="disabled">敬请期待</a><span></span></li>
			</ul>
			<!--nav-->
			<!--search-->
			<div class="d-g-search">
				<input type="text" class="indexSearchInputNam"/>
				<!--搜索的图标-->
				<a href="javascript:;" class="d-g-sear-icon indexSearchNam"><img src="../../images/1.png" alt="" /></a>
			</div>
			<!--search-->
		</div>
	</div>
	<!--header-->
	<!-- 第一板块 -->
	<!-- 第一板块 -->
	<div class="y-container">
		<div class="subContainer">
			<!-- 第一板块 -->
			<div class="y-secondSection common" style="flex-direction: column;">
				<!--<div class="content">-->
					<div class="swiper-container-nam">
						<div class="swiper-wrapper">
							<div class="swiper-slide">
								<div class="swiperBox-nam">
									<p class="swiper-title-nam animated">论坛 | 第八届中国破产法论坛</p>
									<p class="swiper-text-nam  animated">
										暨《企业破产法》实施十周年几年研讨会
									</p>
									<div class="swiper-view-nam animated">
										<a href="../listInfo/info.html?id=092296e4ac2840a995f6f410436aeb13" target="_blank">查看更多</a>
									</div>
									
								</div>
								<div class="swiperImg-nam">
									<div class="ImgBook ImgBook-three">
										<img src="../../images/logored.png"/>
									</div>
								</div>
							</div>
							<div class="swiper-slide sild-one ">
								<div class="swiperBox-nam">
									<p class="swiper-title-nam animated">关于破产法域外效力的规定评定</p>
									<p class="swiper-text-nam  animated">
										破产法的域外效力（实用地域范围），即一国的破产程序<br />对位于其他国家或法域的破产人财产是否有效...
									</p>
									<div class="swiper-view-nam animated">
										<a href="../listInfo/info.html?id=6251c9480d5a4bfd84c95f1d4d24c798" target="_blank">查看更多</a>
									</div>
									
								</div>
								<div class="swiperImg-nam">
									<div class="ImgBook ImgBook-two">
										<img src="../../images/jiaoshou.png"/>
									</div>
									
								</div>
							</div>
							<div class="swiper-slide">
								<div class="swiperBox-nam">
									<p class="swiper-title-nam animated ">著作力荐 | 破产法文书库</p>
									<p class="swiper-text-nam animated">
										僵尸企业处置与破产审判工作专题研讨会
									</p>
									<!--<div class="swiper-view-nam animated">
										<a href="javascript:;" >查看更多</a>
									</div>-->
									
								</div>
								<div class="swiperImg-nam">
									<div class="ImgBook ImgBook-one">
										<img src="../../images/book.png"/>
									</div>
								</div>
							</div>

	
							<div class="swiper-slide">
								<div class="swiperBox-nam">
									<p class="swiper-title-nam animated">潘光林：破产审判何以温州？</p>
									<p class="swiper-text-nam  animated">
										2011年下半年发生在温州的局部金融风波让温州面临严峻的经济形势，随之而来的是温州法院所需要面临的数量暴增的破产案件。
									</p>
									<div class="swiper-view-nam animated">
										<a href="../listInfo/info.html?id=00ad2e542be34498863a9516c49867d2" target="_blank" >查看更多</a>
									</div>
									
								</div>
								<div class="swiperImg-nam">
									<div class="ImgBook ImgBook-three">
										<img src="../../images/pgl.png"/>
									</div>
								</div>
							</div>
						</div>
						
						
						<div class="swiper-pagination-nam pagination"></div>
					</div>
					<br />
					<div class="sub-contain-nam" style="width: 100%;">
						<div class="subcontent">
							<div class="sub">
								<div class="content-lt">
									<img src="../../images/result.png" alt="" />
								</div>
								<div class="content-rt">
									<p>成果展示</p>
									<p>协会最新成果展示</p>
								</div>
							</div>
							<div class="subcontent-rt">
								<div class="content-lt">
									<img src="../../images/wresulte.png" alt="" />
								</div>
								<div class="content-rt subcontent-rt-rt">
									<a href="../articleList/list.html?guide=4_1">论文成果</a>
									<a href="../articleList/list.html?guide=4_2">调研报告</a>
									<a href="../articleList/list.html?guide=4_3">著作推荐</a>
									
								</div>
							</div>
						</div>
						<div class="subcontent">
							<div class="sub">
								<div class="content-lt">
									<img src="../../images/person1.png" alt="" />
								</div>
								<div class="content-rt">
									<p>通知公告</p>
									<p>最新动态早知道</p>
								</div>
							</div>
							<div class="subcontent-rt">
								<div class="content-lt">
									<img src="../../images/wperson.png" alt="" />
								</div>
								<div class="content-rt subcontent-rt-rt">
									<a href="../articleList/list.html?guide=3_1">通知</a>
									<a href="../articleList/list.html?guide=3_2">公告</a>
									
								</div>
							</div>
						</div>
						<div class="subcontent">
							<div class="sub">
								<div class="content-lt">
									<img src="../../images/newnam.png" alt="" />
								</div>
								<div class="content-rt">
									<p>新闻资讯</p>
									<p>最前沿的新闻资讯</span>
								</div>
							</div>
							<div class="subcontent-rt">
								<div class="content-lt">
									<img src="../../images/wnewnam.png" alt="" />
								</div>
								<div class="content-rt subcontent-rt-rt">
									<a href="../viewList/list.html?guide=2_1">学会新闻</a>
									<a href="../viewList/list.html?guide=2_2">学界动态</a>
									<a href="../viewList/list.html?guide=2_3">域外动态</a>
									
								</div>
							</div>
						</div>
						<div class="subcontent nohovernam">
							<div class="sub">
								<div class="content-lt">
									<img src="../../images/qidaigray.png" alt="" />
								</div>
								<div class="content-rt">
									<p>敬请期待</p>
									<p>期待只为更美好</p>
								</div>
							</div>
							
						</div>
					</div>
				<!--</div>-->
				
			</div>
			<!-- 第Yi板块 -->
			<!--第二板块-->
			<div class="y-thirdSection common" id="thirdSection">
				<div class="subSlide">
					<div class="title">
						<div class="name">
							<h3>通知公告</span>
							<h4>NOTICE</h4>
						</div>	
					</div>
					<div class="content">
						<div class="subContent" style="overflow: hidden;">
							<!--<div class="subTitle">
								<span>第21届中美法律交流北京研讨会参会公告</span>
							</div>
							<div class="sub">
								<p>具体议题</p>
								<ul>
									<li>（一）美国破产法及其改革（Bankruptcy Law And Reforms In</li>
									<li>（一）美国破产法及其改革（Bankruptcy Law And Reforms In</li>
									<li>（一）美国破产法及其改革（Bankruptcy Law And Reforms In</li>
									<li>（一）美国破产法及其改革（Bankruptcy Law And Reforms In</li>
								</ul>
								<p>具体议题</p>
								<ul>
									<li>中国商务部</li>
									<li>中国商务部</li>
									<li>中国商务部</li>
								</ul>
							</div>-->
							<iframe ng-src={{"../iframe/inform.html?id="+dataAll['3_1'][0]['id']}} frameborder="no" height="100%" width="100%"></iframe>
						</div>
						<div class="contentList">
							<ul  style="overflow: hidden;height: 94px;">
								<li ng-repeat="data in dataAll['3_1'].slice(0,3)" ng-click="announce(data.id)">
									<p>公告<span style="margin-right:5px;">{{$index+1}}</span> {{data.title}}</p>
									<a ng-bind="data.updateTime.slice(0,10)"></a>
								</li>
								
							</ul>
						</div>
					</div>
					
				</div>
				<!--<div class="arrow"><i class="icon iconfont icon-sks"></i></div>-->
			</div>
			<!--第二板块-->
			<!-- 第三板块 -->
			<div class="y-fourthSection common" id="fourthSection">
				<div class="subSlide-nam">
					
					<div class="title">
						<div class="name">
							<h3 style="color:#fff;">成果展示</span>
							<h4 style="color:#fff;"><span>NEW </span>ACHIEVEMENT</h4>
						</div>	
					</div>
					
					<div class="content">
						<div class="subcontent">
							<div class="subcontentHoverBefor">
								<div class="resultImgNam">
									<img src="../../images/lunwen.png"/>
								</div>
								<div class="resultTitleNam">
									<span>论文成果</span>
									<p>最新学术论文成果动态</p>
								</div>
								<ul class="resultContentNam">

									<li ng-repeat="data in dataAll['4_1'].slice(0,3)"><a  target="_blank" ng-href="../listInfo/info.html?id={{data.id}}" ng-bind="data.title"></a></li>
									

								</ul>
								<div class="resultMoreNam ">
										<a href="../articleList/list.html?guide=4_1">了解更多</a>
								</div>
							</div>
						</div>
						<div class="subcontent">
							<div class="subcontentHoverBefor">
								<div class="resultImgNam">
									<img src="../../images/recoder.png"/>
								</div>
								<div class="resultTitleNam">
									<span>调研报告</span>
									<p>了解、剖析事物时下案件展趋向</p>
								</div>
								<ul class="resultContentNam">
									<li ng-repeat="data in dataAll['4_2'].slice(0,3)"><a  target="_blank" ng-href="../listInfo/info.html?id={{data.id}}" ng-bind="data.title"></a></li>
									

								</ul>
								<div class="resultMoreNam ">
										<a href="../articleList/list.html?guide=4_2">了解更多</a>
								</div>
							</div>
						</div>
						<div class="subcontent">
							<div class="subcontentHoverBefor">
								<div class="resultImgNam">
									<img src="../../images/tuijiazhuzuo.png"/>
								</div>
								<div class="resultTitleNam">
									<span>著作推荐</span>
									<p>优质团队的强烈推荐</p>
								</div>
								<ul class="resultContentNam">
									<li ng-repeat="data in dataAll['4_3'].slice(0,3)"><a ng-href="../listInfo/info.html?id={{data.id}}" ng-bind="data.title"  target="_blank"></a></li>
									
									
								</ul>
								<div class="resultMoreNam">
										<a href="../articleList/list.html?guide=4_3">了解更多</a>
								</div>
							</div>
						</div>
					</div>
				</div>
				<!--<div class="arrow"><i class="icon iconfont icon-sks"></i></div>-->
			</div>
			<!-- 第三板块 -->

			<!-- 第四板块 -->
			<div class="y-fifthSection common" id="fifthSection">
				<div class="subSlide">
					<div class="title" style="margin-top:10px;">
						<div class="name">
							<h3>新闻资讯</span>
							<h4><span>THE </span>NEWS</h4>
						</div>	
					</div>
					<div class="content">
						<div class="content-lt">
							<ul>
								<li data-nam-id="0"><span class="animated bindClick leftmovenam">学会新闻</span><a class='shenleftnam' href="javascript:;"><img src="../../images/arrow.png" alt=""></a></li>
								<li data-nam-id="1"><span class="animated bindClick">学界动态</span><a href="javascript:;"><img src="../../images/arrow.png" alt=""></a></li>
								<li data-nam-id="1"><span class="animated bindClick">域外动态</span><a href="javascript:;"><img src="../../images/arrow.png" alt=""></a></li>
								<!--<li><span class="animated bindClick">学会新闻</span><a href="javascript:;"><img src="../../images/arrow.png" alt=""></a></li>-->
							</ul>
						</div>
						<div class="content-rt">
							<div class="text">
								<div class="textImg animated">
									<img ng-src="{{dataAll['2_1'][0]['smallImage']|pic}}" alt="" style="width:100%;height:100%">
								</div>
								<h4 class="animated" ng-bind="dataAll['2_1'][0]['title']"></h4>
								<p class="animated" ng-bind="dataAll['2_1'][0]['remarks']"></p>
								<a href="../listInfo/info.html?id={{dataAll['2_1'][0]['id']}}" target="_blank" class="animated" >READ MORE</a>
							</div>
							<div class="imgList">
								<div class="img-list animated" ng-repeat="data in dataAll['2_1'].slice(1,4)">
									<div class="subImg">
										<div class="mockNam"></div>
										<img ng-src="{{data['smallImage']|pic}}" alt="" style="width:100%;height:100%">
									</div>
									<div class="squares">
										<p ng-bind="data['title'].substring(0,27)"></p>
									</div>
									<div class="newMoreNam">
										<a href="../listInfo/info.html?id={{data['id']}}"  target="_blank">READ MORE</a>
									</div>
								</div>
								
								
							</div>
						</div>
						<div class="content-rt">
							<div class="text">
								<div class="textImg animated">
									<img ng-src="{{dataAll['2_2'][0]['smallImage']|pic}}" alt="" style="width:100%;height:100%">
								</div>
								<h4 class="animated" ng-bind="dataAll['2_2'][0]['title']"></h4>
								<p class="animated" ng-bind="dataAll['2_2'][0]['remarks']"></p>
								<a href="../listInfo/info.html?id={{dataAll['2_2'][0]['id']}}" class="animated"  target="_blank">READ MORE</a>
							</div>
							<div class="imgList">
								<div class="img-list animated" ng-repeat="data in dataAll['2_2'].slice(1,4)">
									<div class="subImg">
										<div class="mockNam"></div>
										<img ng-src="{{data['smallImage']|pic}}" alt="" style="width:100%;height:100%">
									</div>
									<div class="squares">
										<p ng-bind="data['title'].substring(0,27)"></p>
									</div>
									<div class="newMoreNam">
										<a href="../listInfo/info.html?id={{data['id']}}"  target="_blank">READ MORE</a>
									</div>
								</div>
								
								
							</div>
						</div>
						<div class="content-rt">
							<div class="text">
								<div class="textImg animated">
									<img ng-src="{{dataAll['2_3'][0]['smallImage']|pic}}" alt="" style="width:100%;height:100%">
								</div>
								<h4 class="animated" ng-bind="dataAll['2_3'][0]['title']"></h4>
								<p class="animated" ng-bind="dataAll['2_3'][0]['remarks']"></p>
								<a href="../listInfo/info.html?id={{dataAll['2_3'][0]['id']}}" class="animated"  target="_blank">READ MORE</a>
							</div>
							<div class="imgList">
								<div class="img-list animated" ng-repeat="data in dataAll['2_3'].slice(1,4)">
									<div class="subImg">
										<div class="mockNam"></div>
										<img ng-src="{{data['smallImage']|pic}}" alt="" style="width:100%;height:100%">
									</div>
									<div class="squares">
										<p ng-bind="data['title'].substring(0,27)"></p>
									</div>
									<div class="newMoreNam">
										<a href="../listInfo/info.html?id={{data['id']}}"  target="_blank">READ MORE</a>
									</div>
								</div>
								
								
							</div>
						</div>

					</div>
				</div>
				<!--<div class="arrow"><i class="icon iconfont icon-sks"></i></div>-->
			</div>
			<!-- 第四板块 -->
			<!-- 第五板块 -->
			<div class="y-sixSection common" id="sixSection">
				<div class="subSlide">
					<div class="title">
						<div class="name">
							<h3>司法案例</span>
							<h4><span>TRUE </span>GUIDANCE</h4>
						</div>	
					</div>
					<div class="content">
						<div class="subcontent animated">
							<div class="subTitle">
								<span>裁判文书</span>
							</div>
							<div class="subImage"> 
								<img ng-src="{{dataAll['5_1'][0]['smallImage']|pic}}" alt="">
								<div class="shade"><div class="circle"></div><a href="../listInfo/info.html?id={{dataAll['5_1'][0]['id']}}" ng-bind="dataAll['5_1'][0]['title']" target="_blank"></a></div>
							</div>
							<div class="subText">
								<!--<span>2017/07/09</span>-->
								<p ng-bind="dataAll['5_1'][0]['remarks']"></p>
							</div>
							<div class="subList">
								<ul>
									<li ng-repeat="data in dataAll['5_1'].slice(1,7)"><a ng-bind="data['title']" ng-href="../listInfo/info.html?id={{data['id']}}"  target="_blank"></a></li>
									
								</ul>
								<div class="readMore" >
								<a href="../articleList/list.html?guide=5_1">READ MORE</a>
								</div>
							</div>
							
						</div>
						<div class="subcontent animated">
							<div class="subTitle">
								<span>案例分析</span>
							</div>
							<div class="subImage"> 
								<img ng-src="{{dataAll['5_2'][0]['smallImage']|pic}}" alt="">
								<div class="shade"><div class="circle"></div><a href="../listInfo/info.html?id={{dataAll['5_2'][0]['id']}}" ng-bind="dataAll['5_2'][0]['title']"  target="_blank"></a></div>
							</div>
							<div class="subText">
								<!--<span>2017/07/09</span>-->
								<p ng-bind="dataAll['5_2'][0]['remarks']"></p>
							</div>
							<div class="subList">
								<ul>
									<li ng-repeat="data in dataAll['5_2'].slice(1,7)"><a ng-bind="data['title']" ng-href="../listInfo/info.html?id={{data['id']}}"  target="_blank"></a></li>
									
								</ul>
								<div class="readMore" >
								<a href="../articleList/list.html?guide=5_2">READ MORE</a>
								</div>
							</div>
							
						</div>

					</div>
				</div>
				<!--<div class="arrow"><i class="icon iconfont icon-sks"></i></div>-->
			</div>
			<!-- 第六板块 -->
			<div class="y-sevenSection common" id="sevenSection">
				<div class="zhao"></div>
				<div class="subSlide">
					<div class="title" style="margin-top:60px;">
						<div class="name">
							<h3 style="color:#fff">法律文本</span>
							<h4 style="color:#fff;"><span>LEGAL </span>PROVOSIONS</h4>
						</div>	
					</div>
					<div class="content">
						<div class="subContent">
							<div class="content-lt">
								<img src="../../images/Big04.png" alt="">
							</div>
							<div class="content-rt">
								<div class="text">
									<p>国际法律文书</p>							
									<div>其功能体现在社会作用和规范作用两个方面：社会作用在于通过体现各国的协调意志为各国统治阶级在国际交往中的需要服务；规范作用体现在指引、预测等方面。</div>
								</div>	
								<div class="shade">
									<!--<div class="subShade"></div>-->
									<div class="more">
									
									</div>
									<div class="moreLinkNam"><a href="../articleList/list.html?guide=6_3">M<br/>O<br/>R<br/>E</a></div>
								</div>	
							</div>
						</div>
						<div class="subContent">
							<div class="content-lt">
								<img src="../../images/Big01.png" alt="">
							</div>
							<div class="content-rt">
								<div class="text">
									<p>地方法律文本</p>							
									<div>地方法律文本立法机关制定或认可的，其效力不能及于全国，而只能在地方区域内发生法律效力的规范性法律文件。</div>
								</div>	
								<div class="shade">
									<!--<div class="subShade"></div>-->
									<div class="more">
									
									</div>
									<div class="moreLinkNam"><a href="../articleList/list.html?guide=6_2">M<br/>O<br/>R<br/>E</a></div>
								</div>
							</div>
						</div>
						<div class="subContent">
							<div class="content-lt">
								<img src="../../images/Big03.png" alt="">
							</div>
							<div class="content-rt">
								<div class="text">
									<p>国家法律文本</p>							
									<div>法律文本是立法者主观意志和主观精神的客观化体现，是规范人们社会生活的重要依据。</div>
								</div>	
								<div class="shade">
									<!--<div class="subShade"></div>-->
									<div class="more">
									
									</div>
									<div class="moreLinkNam"><a href="../articleList/list.html?guide=6_1">M<br/>O<br/>R<br/>E</a></div>
								</div>	
							</div>
						</div>
						<div class="subContent nohovers">
							<div class="content-lt">
								<img src="../../images/Big02.png" alt="">
							</div>
							<div class="content-rt">
								<div class="text">
									<p>敬请期待</p>							
									<div>期待只为更美好</div>
								</div>	
								<div class="shade">
									<!--<div class="subShade"></div>-->
									<div class="more">
									
									</div>
									<div class="moreLinkNam"><a href="javascript:;" style="cursor: default;">M<br/>O<br/>R<br/>E</a></div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<!--<div class="arrow"><i class="icon iconfont icon-sks"></i></div>-->
			</div>
			<!-- 第六板块 -->
			<!-- 第七板块 -->
			<div class="y-eighthSection common" id="eighthSection">
				<div class="subSlide">
					<div class="title">
						<div class="name">
							<h3>关于我们</span>
							<h4><span>ABOUT </span>US</h4>
						</div>	
					</div>
					<div class="content">
						<div class="content-list">
							<div class="subcontent">
								<div class="content-lt">
									<img src="../../images/shuji.png" alt="">
								</div>
								<div class="content-rt">
									<div class="rt-top">
										<span>中心简介</span>
										<a href="../articleList/list.html?guide=1_1">MORE</a>
									</div>
									<div class="rt-bottom">
										<p>中国人民大学破产法研究中心成立于2006年，是经中国人民大学批准设立，研究中心秉承教学、研究、实践三位一体的理念，致力于破产立法和司法的进步，研究破产法的基础理论问题，关注破产法理论的发展动向，推动中国破产法制的进步。</p>
									</div>
								</div>
							</div>
							<div class="subcontent">
								<div class="content-lt">
									<img src="../../images/xuehui.png" alt="">
								</div>
								<div class="content-rt">
									<div class="rt-top">
										<span>学会简介</span>
										<a href="../articleList/list.html?guide=1_2">MORE</a>
									</div>
									<div class="rt-bottom">
										<p>北京市破产法学会成立于2010年，由中国人民大学法学院、首都经济贸易大学法学院、北京市炜衡律师事务所等单位自愿联合发起成立，是经北京市民政局核准登记的非营利性社团法人，业务主管单位是北京市法学会。</p>
									</div>
								</div>
							</div>
							<div class="subcontent">
								<div class="content-lt">
									<img src="../../images/lijie.png" alt="">
								</div>
								<div class="content-rt">
									<div class="rt-top">
										<span>历届论坛</span>
										<a href="../articleList/list.html?guide=1_3">MORE</a>
									</div>
									<div class="rt-bottom">
										<p>
中国破产法论坛是中国人民大学破产法研究中心联合最高人民法院民二庭共同创办的破产法领域最高规格、最大规模、最为权威的品牌学术活动，自2008年至今，共举办了七届大规模的论坛和六次破产法专题研讨会。&nbsp;&nbsp;&nbsp;&nbsp;
</p>
									</div>
								</div>
							</div>
							<div class="subcontent">
								<div class="content-lt">
									<img src="../../images/zuzhi.png" alt="">
								</div>
								<div class="content-rt">
									<div class="rt-top">
										<span>研究团队</span>
										<a href="../articleList/list.html?guide=1_4">MORE</a>
									</div>
									<div class="rt-bottom">
										<p>
我们团队涵盖理论界与实务界，形成了老中青相结合的人才梯队。我们将秉承“海纳百川，有容乃大”之发展理念，陆续聘请立法机关、司法机关、实务部门、高等院校以及国外破产法领域的专家学者加入研究团队，充实队伍。
</p>
									</div>
								</div>
							</div>
						</div>

					</div>
					<!--轮播-->
					<!--<div class="bottomRollNam" id="demo1">
				            <ul>
				                <li><a href="http://www.lanrentuku.com/" target="_blank" path="../../images/bingbing.png" title="tttt1"></a></li>
				                <li><a href="http://www.lanrentuku.com/" target="_blank" path="../../images/bingbing.png" title="tttt2"></a></li>
				                <li><a href="http://www.lanrentuku.com/" target="_blank" path="../../images/bingbing.png" title="tttt3"></a></li>
				            </ul>
				           
					</div>
					 <ul class="pageNam">
				            	
				      </ul>-->
					<!--轮播-->
					<!-- 尾板块 -->
					<div class="footSection">
						<div class="content">
							<div class="content-lt">
								<ul>
									<li>	
										<div>
											<img src="../../images/dizhi.png" alt="">
										</div>
										<span>地址：</span>
										<p>北京市海淀区中关村大街59号 明德法学楼</span>
									</li>
									<li>
										<div>
											<img src="../../images/youxiang.png" alt="">
										</div>
										<span>邮箱：</span>
										<p>bankruptcylaw@163.com</p>
									</li>
									<li>
										<div><img src="../../images/phone.png" alt=""></div><span>电话：</span>
										<p>010-82500351  </p>
									</li>
								</ul>
							</div>
							<div class="content-rt">
								<div class="code">
									<!--<img src="../../images/code.png"/>-->
								</div>
							</div>
						</div>
					</div>
					<!-- 尾板块 -->

					
				</div>
				<!--footer-->
				
				<!--footer-->
				<!--<div class="arrow"><i class="icon iconfont icon-sks"></i></div>-->
			</div>
			<div class="common"><footer></footer></div>
			<!-- 第八板块 -->
			<!--轮播板块-->
			<!--<div class="y-nineSection common swiper-slide">
					<div class="content-carousel" style="width:800px">
							<div class="box">
								<div class="list">
									<ul>
										<li class="p7">
											<a href="#"><img src="../../images/11.png" alt="" /></a>
										</li>
										<li class="p6">
											<a href="#"><img src="../../images/22.png" alt="" /></a>
										</li>
										<li class="p5">
											<a href="#"><img src="../../images/33.png" alt="" /></a>
										</li>
										<li class="p4">
											<a href="#"><img src="../../images/44.jpg" alt="" /></a>
										</li>
										<li class="p3">
											<a href="#"><img src="../../images/55.jpg" alt="" /></a>
										</li>
										<li class="p2">
											<a href="#"><img src="../../images/66.jpg" alt="" /></a>
										</li>
										<li class="p1">
											<a href="#"><img src="../../images/77.jpg" alt="" /></a>
										</li>
									</ul>
								</div>

								<div class="buttons">
									<a href="javascript:;"><span class="blue"></span></a>
									<a href="javascript:;"><span></span></a>
									<a href="javascript:;"><span></span></a>
									<a href="javascript:;"><span></span></a>
									<a href="javascript:;"><span></span></a>
									<a href="javascript:;"><span></span></a>
									<a href="javascript:;"><span></span></a>
								</div>
							</div>
						</div>
						<div class="intro">
							<p>王新</p>
							<div class="text">
								中国人民大学法学院教授、博士研究生导师，中国人民大学破产法研究中心主任，北京市破产法学会会长，山东省法学会企业破产与重组研究会名誉会长，上海市法学会破产法研究会顾问，北京市地石律师事务所兼职律师。主要研究领域：破产法、企业公司法。
							</div>
							<a href="javascript:;">查看更多</a>
						</div>
			
			
			轮播</div>-->
		</div>
		
	</div>
	<a class="arrow" href="#secondSection"><i class="icon iconfont icon-sks"></i></a>
	<div class="backTop"><i class="icon iconfont icon-tubiaozhizuomoban"></i></div>
</body>
<script type="text/javascript">
	
        $(window).resize(function () {
            if ($(window).width() > 750) {
                
                $('.y-sixSection').parallax("50%", 0.2);
    
            }
        }).trigger('resize');
    
</script>
</html>